<svg:circle stroke="white" cx="207" cy="207" r="200"></svg:circle>
<svg:circle stroke="white" cx="207" cy="207" r="185"></svg:circle>
<svg:text class="number" x="207" y="50">12</svg:text>
<svg:text class="number" x="207" y="364">6</svg:text>
<svg:path stroke="white" stroke-width="4" d="M 207 217 L 207 70"></svg:path>
<svg:path stroke="white" stroke-width="8" d="M 197 207 L 304 207"></svg:path>
