svg {
    background: #000;
    width: 736px;
    height: 414px;
}

text {
    fill: white;
    stroke: white;
    alignment-baseline: middle;
    text-anchor: middle;
}

.clock text.number {
    font-size:32px;
    font-family: "Arial Black";
}